* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.testimonials {
  max-width: 1440px;
  margin: 80px 240px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 26px;
}

.user {
  border-radius: 9px;
  color: #fff;
  padding: 24px 36px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.img-text-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 14px;
}

.user-1 {
  background-color: hsl(263, 55%, 52%);
  grid-column: span 2;
}

.user-1 .img {
  border: 1px solid rgb(117, 65, 200, 1);
}

.user-1 .comment {
  color: ;
}

.user-2 {
  background-color: hsl(217, 19%, 35%);
}

.user-3 {
  background-color: #ffffff;
  color: black;
}

.user-4 {
  background-color: hsl(219, 29%, 14%);
  grid-column: span 2;
}

.user-4 .img {
  border: 1px solid hsl(263, 55%, 52%);
}

.user-5 {
  background-color: #fff;
  color: black;
  grid-row: 1 / span 2;
  grid-column: 4;
}

.img {
  height: 40px;
  border-radius: 50%;
}

.username {
  font-size: 16px;
  font-weight: 500;
}

.verified {
  font-size: 14px;
  color: hsl(0, 0%, 81%);
}

.feedback {
  font-size: 28px;
  margin-bottom: 16px;
  font-weight: 600;
}

.comment {
  font-size: 18px;
  color: hsl(0, 0%, 81%);
}

@media (max-width: 24em) {
  .testimonials {
    margin: 80px 20px;
    display: block;
  }

  .user {
    margin-bottom: 20px;
  }

  .img {
    height: 32px;
  }
  .username {
    font-size: 14px;
  }
  .verified {
    font-size: 12px;
  }
  .feedback {
    font-size: 22px;
  }
  .comment {
    font-size: 14px;
  }
}
